<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-if.v-show,v-fo指令</title>
    <script src="./vue.js"></script>
</head>
<body>
    <!--v-if:display none,用在单次的场景,v-show:注释掉变量,用在多次的场景-->
    <div id="root">
    <div v-if="show">hello world</div>
    <button @click="handleClick">toggle</button>
    <ul>
        <li v-for="(item,index) of list" :key="index">{{item}}</li>
    </ul>
    </div>

    <script>
        var root = new Vue({
            el:"#root",
            data:{
                show: true,
                list:[1,1,3]
            },
            methods:{
                handleClick:function () {
                    this.show = !this.show;
                }
            }
        })
    </script>
</body>
</html>